The team wants to find the month they're likely to contact the most clients, so they can schedule a product upgrade announcement. Which month does the team tend to contact the greatest percentage of its clients?

In [1]:
import numpy as np
import pandas as pd

In [5]:
#loading dataset 
df=pd.read_csv(r'C:\Users\fangc\Documents\Udacity\DataAnalyst.csv')

In [6]:
#take a look dateset
df.head()

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-15
2    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
3     Milan Crona             Armstrong Group      2013-11-02
4    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25

In [7]:
#checking datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 3 columns):
Account manager    1001 non-null object
Client Name        1001 non-null object
Date of Contact    1001 non-null object
dtypes: object(3)
memory usage: 23.5+ KB

In [8]:
#change columns name
df.rename(columns=lambda x:x.strip().lower().replace(" ","_"),inplace=True)

In [11]:
# fixing data type
df.date_of_contact=pd.to_datetime(df.date_of_contact)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 3 columns):
account_manager    1001 non-null object
client_name        1001 non-null object
date_of_contact    1001 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 23.5+ KB

In [18]:
# extracting month from data 
df['month']=df.date_of_contact.dt.month

In [35]:
#groupby month and then conunt the number for contact
df.groupby('month',as_index=False)['date_of_contact'].count()

    month  date_of_contact
0       1               60
1       2               64
2       3               58
3       4               52
4       5               69
5       6               77
6       7               66
7       8               79
8       9              121
9      10              213
10     11               65
11     12               77

According of the result, October is the month to contact the greatest percentage of its clients